<%
var home = '/';
var about = '/about';
var projects = '/projects';
var services = '/services';
var calendar = '/calendar';
var contact = '/contact';
%>
<nav class="navContainer border5 blueBorder">
    <div class="navSubContainer">
        <div class="navLink">
            <a class="navComponent navText" href="<%= home %>">
                Home
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= home %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
        <div class="navLink">
            <a class="navComponent navText" href="<%= about %>">
                About
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= about %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
        <div class="navLink">
            <a class="navComponent navText" href="<%= services %>">
                Services
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= services %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
    </div>
    <div class="navSubContainer">
        <div class="navLink">
            <a class="navComponent navText" href="<%= projects %>">
                Projects
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= projects %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
        <div class="navLink">
            <a class="navComponent navText" href="<%= calendar %>">
                Calendar
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= calendar %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
        <div class="navLink">
            <a class="navComponent navText" href="<%= contact %>">
                Contact
            </a>
            <a class="navComponent navRightArrowContainer" href="<%= contact %>">
                <span class="navRightArrow"></span>
            </a>
        </div>
    </div>
</nav>